@import "../../global.scss";

.contact {
  background-color: $black;
  padding: 0 40px;
  background-image: url('../../../public/images/bg2.png');
  height: 100vh;
  @include tab {
    padding: 0px 20px;
  }

  .wrapper {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px 0;
    margin-bottom: 100px;
    h2 {
      font-family: $poppins;
      font-weight: 700;
      font-size: 36px;
      margin-bottom: 30px;
      color: $primary;
      @include tab {
        font-size: 22px;
      }
    }

    button {
      background-color: $button;
      font-family: $poppins;
      font-weight: 500;
      font-size: 16px;
      border: none;
      padding: 10px 20px;
      border-radius: 4px;
      color: white;
      cursor: pointer;
      width: 30%;
      @include tab {
        width: 100%;
        font-size: 12px;
      }
      a {
        color: white;
        text-decoration: none;
        font-family: $poppins;
        font-weight: 700;
        font-size: 18px;
        @include tab {
          font-size: 16px;
        }
      }
    }
    hr {
      width: 29%;
      color: lightgray;
      margin: 20px 0;
      @include tab {
        width: 100%;
      }
    }
  }

  .inTouch {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    // margin: 70px 0;
    h2 {
      color: $primary;
      font-size: 36px;
      font-family: $poppins;
      font-weight: 700;
      @include tab {
        font-size: 22px;
      }
    }
    .img {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 0px;
      padding: 20px 0;
      img {
        width: 50%;
        cursor: pointer;
        @include tab {
          width: 30%;
        }
      }
    }
    hr {
      width: 100%;
      margin: 50px 0;
      color: lightgray;
    }
    p {
      font-family: $poppins;
      font-weight: 400;
      font-size: 16px;
      padding-bottom: 50px;
      @include tab {
        font-size: 12px;
      }
    }
  }
}
